body {
    background-color: white;
    color: black;
    font-family:'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

.left {
    padding-left: 4%;
    padding-top: 55px;
}

.right {
    position: relative;
    float: right;
    padding-right: 4%;
    top: -474px;
}

.button {
    margin-top: 90%;
    text-align: center;
    border-radius: 12px;
    background-color: grey;
    color: white;  
}

.center{
    text-align: center;
}

.markup {
    padding: 5px;
}