body {
    background-color: white;
    color: black;
    font-family:'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

.left {
    padding-left: 4%;
    padding-top: 55px;
}

.right {
    position: relative;
    float: right;
    padding-right: 4%;
    top: -474px;
}

.button1 {
    text-align: center;
    margin-top: 90%;
    position: fixed;
   
   
}

.markup {
    padding: 5px;
}